<!DOCTYPE html>
<html lang="en">

<head>
    <title>Product Stats</title>
	<link rel="stylesheet" href="../static/css/productStats.css">
</head>

<body>
    <header>
        <nav>
          <div class="logo">pharmacy</div>
          <div class="navbar">
            <div>
              <a href="#" style="text-decoration:none">Home</a>
            </div>
            <div>
              <a href="#" style="text-decoration:none">AdminFunc1</a>
            </div>
            <div>
              <a href="#" style="text-decoration:none">AdminFunc2</a>
            </div>
          </div>
        </nav>
    </header>

    <h1>Product Stats</h1>

    <div class="products-container">
      <div class="container">
        <h3 class="title">Med name 1</h3>
        <div class="content">
          <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://source.unsplash.com/HkTMcmlMOUQ" alt="">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Total Ordered: 10</h3>
              <h3 class="content-title">Stock: 100</h3>
            </div>
          </a>
        </div>
      </div>

    <div class="container">
        <h3 class="title">Med name 2</h3>
        <div class="content">
          <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://source.unsplash.com/HkTMcmlMOUQ" alt="">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Total Ordered: 10</h3>
              <h3 class="content-title">Stock: 100</h3>
            </div>
          </a>
        </div>
      </div>

    <div class="container">
        <h3 class="title">Med name 3</h3>
        <div class="content">
          <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://source.unsplash.com/HkTMcmlMOUQ" alt="">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Total Ordered: 10</h3>
              <h3 class="content-title">Stock: 100</h3>
            </div>
          </a>
        </div>
      </div>

    <div class="container">
        <h3 class="title">Med name 4</h3>
        <div class="content">
          <a href="https://unsplash.com/photos/HkTMcmlMOUQ" target="_blank">
            <div class="content-overlay"></div>
            <img class="content-image" src="https://source.unsplash.com/HkTMcmlMOUQ" alt="">
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Total Ordered: 10</h3>
              <h3 class="content-title">Stock: 100</h3>
            </div>
          </a>
        </div>
      </div>
    </div>

</body>

</html>