<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/productStats.css' %}">
	<title>onBoarding</title>
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
      <nav>
        <div class="navbar">
          <div>
            <a href="#" style="text-decoration:none">Sign Out</a>
          </div>
          <div>
            <a href="{% url 'dashboard' %}" style="text-decoration:none">Product Stats</a>
          </div>
          <div>
            <a href="#" style="text-decoration:none">Manage Stock</a>
          </div>
  
          <div>
              <a href="{% url 'approval' %}" style="text-decoration:none">Order Approval</a>
            </div>
  
        </div>
      </nav>
    </header>

    <h1>Product Stats</h1>

    <div class="products-container">
      {% for value in stats %}

      <div class="container">
        <h3 class="title">{{value.0}}</h3>
        <div class="content">

          <div class="content-overlay"></div>
            <img class="content-image" src="https://source.unsplash.com/HkTMcmlMOUQ" alt=""> <!--fix-->
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">Total Ordered: {{value.2}}</h3>
              <h3 class="content-title" >Stock: {{value.3}}</h3>
            </div>
          </a>
        </div>
      </div>

      {% endfor %}
    </body>

</html>