<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
	  <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>
    <header>
        <nav>
          <div class="logo">pharmacy</div>
          <div class="navbar">
            <div>
              <a href="#" style="text-decoration:none">Home</a>
            </div>
            <div>
              <a href="{%url 'cart' %}" style="text-decoration:none">Cart</a>
            </div>
            <div>
              <a href="#" style="text-decoration:none">Profile</a>
            </div>
          </div>
        </nav>
    </header>
</body>
</html>