<!DOCTYPE html>
<html>
<head>
    {% load static %}

    <title>Thank You for Your Order</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
    </style>
</head>
<body>
    <h1>Thank You for Your Order!</h1>
    <p>We appreciate your business and will process your order as soon as possible.</p>
    <p>If you have any questions or concerns, please don't hesitate to contact us.</p>
</body>
</html>