body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background-color: #fdf1ec;
}

header {
    background-color: #573b8a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
  
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}
  
.logo {
    font-family: 'Poppins';
    font-size: x-large;
    padding: 30px 20px;
    line-height: 1;
    color: #fff;
}
  
.navbar {
    display: flex;
}
  
.navbar div {
    padding: 30px 20px;
}
  
.navbar a {
    position: relative;
    color: #ffffff;
    font-size: large;
}
  
.navbar img{
    width: 30px;
}
  
.navbar a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.navbar a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

body {
    background: #573b8a;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: #573b8a;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.bloop {
    padding-top: 170px;
}